/*Блок информации о странах*/
.about-the-countries__block {
    display: flex;
    width: 100%;
    height: 90vh;
}

/*Блок карты в информации о странах*/
.about-the-countries__map-block {
    width: 100%;
    height: 90%;
}