//Блок информации о расах
.about-the-races__block {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    height: 100vh;
    padding: 5rem 10rem 0 10rem;
}

//Блок описания в информации о расах
.about-the-races__block-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 30rem;
}

//Текст заголовка в информации о расах
.about-the-races__text-title {
    font-size: 1.5rem;
}

//Блок рас в информации о расах
.about-the-races__block-races {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 20rem;
}

//Блок списка рас в информации о расах
.about-the-races__block-races-list {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: .5rem;
    background-color: $background__body--primary;
    border: 0.1rem solid hsl(0, 0%, 75%);
    border-radius: 1rem;
}

//Блок расы в информации о расах
.about-the-races__block-race {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: .5rem;
    background-color: $background__body--primary;
    border: 0.1rem solid hsl(0, 0%, 75%);
    border-radius: 1rem;
}