//Блок информации о событиях
.about-the-events__block {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 5rem 10rem;
}

//Текст заголовка в информации о событиях
.about-the-events__text-title {
    font-size: 1.5rem;
}

//Блок события в информации о событиях
.about-the-events__block-event {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 70vh;
    padding: 2rem;
    border: .1rem solid $color__text--primary;
    border-radius: 3rem;
}

//Блок описания события в информации о событиях
.about-the-events__block-event-description {
    display: flex;
    justify-content: end;
}

//Внутренний блок описания события в информации о событиях
.about-the-events__block-inner-event-description {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 2rem;
    height: 50%;
    width: 30%;
    background-color: $background__body--primary;
    border: .1rem solid $color__text--primary;
    border-radius: 1rem;
}

//Блок пагинации события в информации о событиях
.about-the-events__block-event-pagination {
    display: flex;
    align-items: end;
}

//Внутренний блок пагинации события в информации о событиях
.about-the-events__block-inner-event-pagination {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: $background__body--seconadary;
    border-radius: 1rem;
}

//Кнопка пагинации события в информации о событиях
.about-the-events__button-event-pagination {
    display: flex;
    padding: 1rem;
    background-color: $background__body--primary;
    border-radius: 100%;
}