//Блок меню
.menu__block {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 4rem 14rem;
    width: 100%;
    font-family: Georgia;
}

//Блок содержимого в меню
.menu__block-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 1.25rem;
}

//Блок логотипа в меню
.menu__block-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

//Изображение логотипа в меню
.menu__image-logo {
    height: 3rem;
}

//Блок тегов в меню
.menu__block-tag {
    display: flex;
    gap: 1rem;
}

//Блок действий в меню
.menu__block-action {
    display: flex;
    align-items: center;
    gap: 2rem;
}

//Ссылки в меню
.menu__link {
    text-decoration: none;
}