@use "../base/colors";

//Блок контента
.index__block {
    min-height: 100vh;
    background-image: url('/images/background.png');
    background-attachment: fixed;
}
//Внутренний блок контента
.index__block-inner {
    display: flex;
    flex-direction: column;
    padding: 0 13.75rem;
}

//МЕНЮ

//Блок меню
.menu__block {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 4rem 13.75rem;
    width: 100%;

    @media (max-height: 700px) {
        position: relative;
    }
}

//Блок содержимого в меню
.menu__block-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

//Блок логотипа в меню
.menu__block-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

//Изображение логотипа в меню
.menu__image-logo {
    height: 3.75rem;
}

//Блок действий в меню
.menu__block-action {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

//Ссылки в меню
.menu__link {
    color: $color__text--seconadary;
    font-size: 1.25rem;
    text-decoration: none;
}

//Блок тегов в меню
.menu__block-tag {
    display: flex;
    gap: 1rem;
}

//ИНФОРМАЦИЯ О ПРОЕКТЕ

//Блок в информации о проекте
.about-the-project__block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

//Внутренний блок в информации о проекте
.about-the-project__block-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.75rem;
    text-align: center;
    max-width: 50rem;
}

//Блок заголовка в информации о проекте
.about-the-project__block-title {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;
}

//Блок подзаголовка в информации о проекте
.about-the-project__block-subtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

//ИНФОРМАЦИЯ О РАСАХ

//Блок рас в информации о расах
.about-the-races__block-races {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;

    @media (max-width: 1200px) {
        flex-direction: column;
        gap: 1rem;
    }
}

//Блоки в информации о расе
.about-the-races__block-races-list,
.about-the-races__block-race {
    display: flex;
    gap: 1.25rem;
    width: calc(50% - 1.5rem / 2);
}

//Блок списка рас в информации о расах
.about-the-races__block-races-list {
    flex-direction: row;
    flex-wrap: wrap;
}

//Блок расы в информации о расах
.about-the-races__block-race {
    flex-direction: column;
    padding: 2.5rem;
    border-radius: .25rem;
    background-color: $background__body--primary;
}

//Блок элемента списка рас в информации о расах
.about-the-races__block-races-list-item {
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(25% - 1.25rem);
    align-items: center;
    gap: .25rem;
}

//Изображение расы в информации о расах
.about-the-races__image-race,
.about-the-races__image-race--active {
    height: 5rem;
    border-radius: 100%;
}

//Изображение расы в информации о расах
.about-the-races__image-race {
    filter: grayscale(100%);
}

//Активное изображение расы в информации о расах
.about-the-races__image-race--active {
    filter: grayscale(0%);
}

//Блок заголовка нации в информации о расах
.about-the-races__block-title-nation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

//Блок изображений наций в информации о расах
.about-the-races__block-nations-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

//Изображение нации в информации о расах
.about-the-races__image-nation,
.about-the-races__image-nation--active {
    height: 3.75rem;
    border-radius: 100%;
}

//Активное изображение нации в информации о расах
.about-the-races__image-nation--active {
    border: .1rem solid $color__text--primary;
}