@use "../base/colors";

/*Блок основной части*/
.main__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: 100%;
}

/*Текст основной части*/
.main__text {
    width: 50%;
    font-size: 3rem;
}