@use "../base/colors";

//Блок контента
.index__block {
    min-height: 100vh;
    background-image: url('/images/background.png');
    background-attachment: fixed;
}
//Внутренний блок контента
.index__block-inner {
    display: flex;
    flex-direction: column;
    padding: 0 13.75rem;
}

//МЕНЮ

//Блок меню
.menu__block {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 4rem 13.75rem;
    width: 100%;

    @media (max-height: 700px) {
        position: relative;
    }
}

//Блок содержимого в меню
.menu__block-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

//Блок логотипа в меню
.menu__block-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

//Изображение логотипа в меню
.menu__image-logo {
    height: 3.75rem;
}

//Блок действий в меню
.menu__block-action {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

//Ссылки в меню
.menu__link {
    color: $color__text--seconadary;
    font-size: 1.25rem;
    text-decoration: none;
}

//Блок тегов в меню
.menu__block-tag {
    display: flex;
    gap: 1rem;
}

//ИНФОРМАЦИЯ О ПРОЕКТЕ

//Блок заголовка в информации о проекте
.about-the-project__block-title {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;
}

//Блок подзаголовка в информации о проекте
.about-the-project__block-subtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

//ИНФОРМАЦИЯ О РАСАХ

//Блок рас в информации о расах
.about-the-races__block-races {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;

    @media (max-width: 1200px) {
        flex-direction: column;
        gap: 1rem;
    }
}

//Блоки в информации о расе
.about-the-races__block-races-list,
.about-the-races__block-race {
    display: flex;
    gap: 1.25rem;
    width: calc(50% - 1.5rem / 2);
}

//Блок списка рас в информации о расах
.about-the-races__block-races-list {
    flex-direction: row;
    flex-wrap: wrap;
}

//Блок расы в информации о расах
.about-the-races__block-race {
    flex-direction: column;
    padding: 2.5rem;
    border-radius: .25rem;
    background-color: $background__body--primary;
}

//Блок элемента списка рас в информации о расах
.about-the-races__block-races-list-item {
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(25% - 1.25rem);
    align-items: center;
    gap: .25rem;
}

//Изображение расы в информации о расах
.about-the-races__image-race {
    height: 5rem;
    border-radius: 100%;
}

//Блок заголовка нации в информации о расах
.about-the-races__block-title-nation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

//Блок изображений наций в информации о расах
.about-the-races__block-nations-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

//Изображение нации в информации о расах
.about-the-races__image-nation,
.about-the-races__image-nation--active {
    height: 3.75rem;
    border-radius: 100%;
}

//Активное изображение нации в информации о расах
.about-the-races__image-nation--active {
    border: .1rem solid $color__text--primary;
}

//ИНФОРМАЦИЯ О СТРАНАХ

//Блок стран в информации о странах
.about-the-countries__block-countries {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

//Блок страны в информации о странах
.about-the-countries__block-country {
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(25% - 1rem);
    align-items: center;
    padding-bottom: 1rem;
    border: .1rem solid $color__text--primary;
    border-radius: 1rem;
}

//Изображение страны в информации о странах
.about-the-countries__image-country {
    border-radius: 1rem 1rem 0 0;
}

//Блок описания страны в информации о странах
.about-the-countries__block-description-country {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: .75rem;
    padding: 1.5rem;
    width: 100%;
}

//Блок кнопки карты в информации о странах
.about-the-countries__block-button-map {
    display: flex;
    justify-content: center;
}

//ИНФОРМАЦИЯ О ПЕРСОНАЖАХ

//Блок персонажа в информации о персонажах
.about-the-characters__block-characters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-between;
    gap: 2rem;
}

//Изображение персонажа в информации о персонажах
.about-the-characters__image-character {
    padding: 1rem;
    height: 15rem;
}

//Блок информации о персонаже в информации о персонажах
.about-the-characters__block-character-information {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

//Блок характеристик о персонаже в информации о персонажах
.about-the-characters__block-character-characteristics {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    padding: 2rem;
}

//Блок характеристики о персонаже в информации о персонажах
.about-the-characters__block-character-characteristic {
    display: flex;
    gap: 1rem;
}

//Блок биографии о персонаже в информации о персонажах
.about-the-characters__block-character-biography {
    display: flex;
    flex: 2;
    padding: 2rem;
    background-color: $background__body--primary;
    border: 0.1rem solid hsl(0, 0%, 75%);
    border-radius: 1rem;
}

//Блок действия о персонаже в информации о персонажах
.about-the-characters__block-character-action {
    display: flex;
    align-items: end;
    justify-content: center;
    flex: 1;
}