@charset "UTF-8";
/*Базовые*/
/*Страница*/
html {
  height: 100%;
  scroll-behavior: smooth;
}

/*Тело страницы*/
body {
  height: 100%;
  background-color: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 75%);
  font-family: Georgia;
  font-size: 18px;
}

/*Поля ввода*/
input {
  color: hsl(0, 0%, 75%);
}

/*Ссылки*/
a {
  color: hsl(0, 0%, 75%);
  text-decoration: none;
}

/*Основной блок*/
.base-block__div {
  height: 100%;
  background-color: hsl(0, 0%, 10%);
}

/*Georgia*/
@font-face {
  font-family: "Georgia";
  src: url("/fonts/Georgia.ttf");
}
/*Ofont ru Optimus*/
@font-face {
  font-family: "Ofont ru Optimus";
  src: url("/fonts/Ofont_ru_Optimus.ttf");
}
/*Страницы*/
.main__block {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.main-menu {
  position: sticky;
  display: flex;
  justify-content: space-between;
  top: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: hsl(0, 0%, 75%);
  color: hsl(0, 0%, 10%);
}

.main-menu__items {
  display: flex;
  gap: 2rem;
}

.main-menu__item-block {
  display: flex;
  align-items: center;
}

.main-menu__item {
  color: hsl(0, 0%, 10%);
}
.main-menu__item.main-menu__item--active {
  border-bottom-color: hsl(0, 0%, 10%);
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
}
.main-menu__item:hover {
  cursor: pointer;
}

.logo {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.logo__images {
  height: 3rem;
}

.logo__text {
  font-family: "Ofont ru Optimus";
  font-size: 1.25rem;
}

.authorization__button {
  padding: 0.25rem;
  background-color: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 75%);
  border-radius: 0.5rem;
}
.authorization__button:hover {
  cursor: pointer;
}

.information__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  scroll-margin-top: 7rem;
}

.information__text {
  max-width: 25%;
  text-align: justify;
}

.project__image {
  width: 50%;
  max-width: 50%;
}

.collection__items {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.collection__item-block {
  display: flex;
  flex-direction: column;
  flex: 9.375;
  align-items: center;
  gap: 1rem;
}
.collection__item-block.collection__item-block--active {
  flex: 25;
}

.collection__text {
  text-align: justify;
}

.collection__image {
  border-radius: 100%;
  width: 50%;
  max-width: 50%;
}
