@charset "UTF-8";
/*Базовые*/
/*Страница*/
html {
  height: 100%;
  font-family: Georgia;
  font-size: 10px;
  scroll-behavior: smooth;
}

/*Тело страницы*/
body {
  height: 100%;
  background-color: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 75%);
}

/*Поля ввода*/
input {
  color: hsl(0, 0%, 75%);
}

/*Ссылки*/
a {
  color: hsl(0, 0%, 75%);
  text-decoration: none;
}

/*Основной блок*/
.base-block__div {
  height: 100%;
  background-color: hsl(0, 0%, 10%);
}

/*Georgia*/
@font-face {
  font-family: "Georgia";
  src: url("/fonts/Georgia.ttf");
}
/*Ofont ru Optimus*/
@font-face {
  font-family: "Ofont ru Optimus";
  src: url("/fonts/Ofont_ru_Optimus.ttf");
}
/*Компоненты*/
/*Блок колеса загрузки*/
.spinner__block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/*Элемент колеса загрузки*/
.spinner__element {
  width: 5rem;
  height: 5rem;
  border: 0.5rem solid hsl(0, 0%, 10%);
  border-top: 0.5rem solid hsl(0, 0%, 75%);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*Блок меню*/
.menu__block {
  z-index: 1;
  position: sticky;
  display: flex;
  justify-content: space-between;
  top: 1rem;
  width: 75%;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 75%);
  font-size: 1.5rem;
}

/*Блок логотипа меню*/
.menu-logo__block {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/*Изображение логотипа меню*/
.menu-logo__image {
  height: 3rem;
}

/*Текст логотипа меню*/
.menu-logo__text {
  font-family: "Ofont ru Optimus";
  cursor: default;
}

/*Блок навигации меню*/
.menu-navigation__block {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/*Элемент навигации меню*/
.menu-navigation__item {
  color: hsl(0, 0%, 75%);
}
.menu-navigation__item.main-menu__item--active {
  border-bottom-color: hsl(0, 0%, 10%);
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
}
.menu-navigation__item:hover {
  cursor: pointer;
}

/*Блок действий меню*/
.menu-action__block {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/*Кнопка действий меню*/
.menu-action__button {
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  background-color: hsl(359, 100%, 33%);
}
.menu-action__button:hover {
  cursor: pointer;
}

/*Блок информации о проекте*/
.about-the-project__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  text-align: center;
  height: 90vh;
  width: 100%;
  clip-path: ellipse(100% 100% at 50% 0%);
  overflow: hidden;
}

/*Заголовок информации о проекте*/
.about-the-project__title {
  font-family: "Ofont ru Optimus";
  font-size: 5rem;
}

/*Блок информации о расе*/
.about-the-races__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 0 2rem;
  height: 90vh;
  width: 75%;
  font-size: 2rem;
}

/*Блок расы в информации о расе*/
.about-the-races__race-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
  text-align: center;
  width: 100%;
}

/*Блок элемента коллекции в информации о расе*/
.about-the-races__collection-item-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/*Изображение расы в информации о расе*/
.about-the-races__race-item-image {
  width: 10rem;
  border-radius: 20rem;
  opacity: 0.5;
}
.about-the-races__race-item-image.about-the-races__race-item-image--active {
  width: 15rem;
  opacity: 1;
}

/*Блок детальной части расы в информации о расе*/
.about-the-races__race-detail-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5rem;
  width: 100%;
}

/*Блок текста расы в информации о расе*/
.about-the-races__race-text-block {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 20.3rem;
  width: 50rem;
  border-radius: 2rem;
  overflow: hidden;
}

/*Внутрений блок текста расы в информации о расе*/
.about-the-races__race-text-block-inner {
  z-index: -1;
  position: absolute;
  margin-top: 2.4rem;
  margin-left: 0.3rem;
  height: 20rem;
  width: 49.7rem;
  border-radius: 2rem;
  background-color: hsl(0, 0%, 20%);
  transform: skewY(-6deg) skewX(-6deg);
  transform-origin: top;
}

/*Текст расы в информации о расе*/
.about-the-races__race-text {
  display: flex;
  flex-grow: 1;
  padding: 6rem 4rem 1.5rem 4rem;
  text-align: right;
  font-size: 1.5rem;
}

/*Блок нации в информации о расе*/
.about-the-races__nation-block {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/*Изображение нации в информации о расе*/
.about-the-races__nation-item-image {
  width: 10rem;
  border-radius: 20rem;
  opacity: 0.5;
}
.about-the-races__nation-item-image.about-the-races__nation-item-image--active {
  opacity: 1;
}

/*Блок текста нации в информации о расе*/
.about-the-races__nation-text-block {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 7rem;
  height: 30.7rem;
  width: 50rem;
  border-radius: 2rem;
  overflow: hidden;
}

/*Внутрений блок текста нации в информации о расе*/
.about-the-races__nation-text-block-inner {
  z-index: -1;
  position: absolute;
  margin-top: 2.9rem;
  height: 30rem;
  width: 49.7rem;
  border-radius: 2rem;
  background-color: hsl(0, 0%, 20%);
  transform: skewY(7deg) skewX(7deg);
  transform-origin: top;
}

/*Текст нации в информации о расе*/
.about-the-races__nation-text {
  display: flex;
  flex-grow: 1;
  padding: 8rem 4rem 1.5rem 6rem;
  font-size: 1.5rem;
}

/*Изображение нации в информации о расе*/
.about-the-races__nation-image {
  position: absolute;
  right: 2rem;
  width: 15rem;
  border-radius: 20rem;
}

/*Блок информации о странах*/
.about-the-countries__block {
  position: relative;
  display: flex;
  width: 100%;
  height: 90vh;
}

/*Блок карты в информации о странах*/
.about-the-countries__map-block {
  width: 100%;
  height: 90%;
}

/*Блок слоёв в инорфмации о странах*/
.about-the-countries__block-layer {
  z-index: 1000;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  width: 30rem;
  top: 1rem;
  right: 1rem;
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 10%);
  font-size: 2rem;
}

/*Текст слоёв в информации о странах*/
.about-the-countries__label-layer {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/*Маркер слоёв в информации о странах*/
.about-the-countries__checkbox-layer {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 75%);
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  /*Выбранное состояние маркера слоёв в информации о странах*/
}
.about-the-countries__checkbox-layer:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='hsl(0%2C0%25%2C10%25)' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

/*Блок меню действий в информации о странах*/
.about-the-countries__block-menu-action {
  z-index: 2;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 10%);
}

/*Кнопка действий в информации о странах*/
.about-the-countries__button-action {
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  /*Наведённое состояние кнопки действий в информации о странах*/
}
.about-the-countries__button-action:hover {
  background-color: hsl(0, 0%, 20%);
}

/*Блок информации о стране*/
.about-the-country__block {
  z-index: 2;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 10%, 0.5);
}

/*Блок содержимого информации о стране*/
.about-the-country__block-content {
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 10%);
  font-size: 2rem;
}

/*Блок информации информации о стране*/
.about-the-country__block-info {
  display: flex;
  flex-direction: row;
}

/*Изображение в информации о стране*/
.about-the-country__image {
  height: 30rem;
}

/*Страницы*/
/*Блок основной части*/
.main__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/*Текст основной части*/
.main__text {
  width: 50%;
  font-size: 3rem;
}
