$background__body--primary: hsla(0,0%,10%, 1); //основной цвет фона
$background__body--seconadary: hsla(0,0%,20%, 1); //дополнительный цвет фона
$background__body--accent: hsla(0, 100%, 33%, 1); //акцентный цвет фона
$color__text--primary: hsla(0,0%,100%, 1); //основной цвет текста
$color__text--seconadary: hsla(0,0%,100%, 0.5); //основной цвет текста
$color__text--accent: linear-gradient(180deg, hsla(0, 88%, 58%, 1), hsla(0, 67%, 19%, 1)); //акцентный цвет текста