@use "../base/colors";

//Страница
html {
    height: 100%;
    font-size: 16px;

    @media (max-width: 1200px) {
        font-size: 14px;
    }
}

//Тело страницы
body {
    height: 100%;
    color: $color__text--primary;
    font-family: Georgia;
}

//Поля ввода
input {
    color: $color__text--primary;
}

//Ссылки
a {
    color: $color__text--primary;
}

//Заголовок 1 уровня
h1 {
    background: $color__text--accent;
    background-clip: text;
    color: transparent;
    font-family: 'Ofont ru Optimus';
    font-size: 6rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

//Заголовок 2 уровня
h2 {
    background: $color__text--accent;
    background-clip: text;
    color: transparent;
    font-size: 2.25rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

//Заголовок 3 уровня
h3 {
    font-size: 1.625rem;
}

//Заголовок 4 уровня
h4 {
    font-size: 1.125rem;
    flex-shrink: 0;
}

//Заголовок 5 уровня
h5 {
    color: $color__text--seconadary;
    font-size: 1.125rem;
}

//Базовые кнопки
.base__button,
.base__button-simple {
    padding: 1.25rem 2.5rem;
    line-height: 1rem;
    border-radius: .25rem;
    font-size: 1.25rem;
}

//Базовая кнопка
.base__button {
    background-color: $background__body--accent;
}

//Базовая простая кнопка
.base__button-simple {
    background-color: $background__body--seconadary;
}

//Базовые линии
.base__line,
.base__line--right,
.base__line--left {
    height: .1rem;
}

//Базовая линия
.base__line {
    background: $color__text--primary;
}

//Базовая правая линия
.base__line--right {
    flex: 1;
    background: linear-gradient(90deg, $color__text--primary, $background__body--primary);
}

//Базовая левая линия
.base__line--left {
    flex: 1;
    background: linear-gradient(90deg, $background__body--primary, $color__text--primary);
}

//Базовый блок
.base__block {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 7.5rem 0;
    line-height: 1;
}

//Базовый центральный блок
.base__block-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

//Внутренний базовый центральный блок
.base__block-center-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.75rem;
    text-align: center;
    max-width: 50rem;
}

//Базовый блок описания
.base__block-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

//Базовый блок текст описания
.base__block-text-description {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1.25rem;
}

//Базовый блок действий описания
.base__block-actions-description {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: end;
    align-items: end;
    gap: .5rem;
}

//Базовый круг
.base__circle {
    width: 1rem;
    height: 1rem;
    background-color: $color__text--primary;
    border-radius: 100%;
}

//Базовые блоки стрелки
.base__block-arrow--right,
.base__block-arrow--left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    background-color: $background__body--seconadary;
    border-radius: 100%;
}

//Базовый блок правой стрелки
.base__block-arrow--right {
    padding-left: .25rem;
}

//Базовый блок левой стрелки
.base__block-arrow--left {
    padding-right: .25rem;
}

//Базовый блок маленькой стрелки
.base__block-arrow--small {
    height: 2rem;
    width: 2rem;
}

//Базовые стрелки
.base__arrow--right,
.base__arrow--left {
    border-top: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
}

//Базовая стрелка вправо
.base__arrow--right {
    border-left: .75rem solid $color__text--primary;
}

//Базовая стрелка влево
.base__arrow--left {
    border-right: .75rem solid $color__text--primary;
}

//Базовый блок тегов
.base__block-tags {
    display: flex;
    gap: .5rem;
}

//Базовый тег
.base__tag {
    padding: .25rem .5rem;
    border-radius: 1rem;
    background-color: $background__body--seconadary;
}