@use "../base/colors";

//Страница
html {
    height: 100%;
    font-size: 16px;
}

//Тело страницы
body {
    height: 100%;
    color: $color__text--primary;
    font-family: Georgia;
}

//Поля ввода
input {
    color: $color__text--primary;
}

//Ссылки
a {
    color: $color__text--primary;
}

//Базовая кнопка
.base__button {
    padding: .75rem 1.5rem;
    border: .1rem solid $color__text--primary;
    border-radius: 2rem;
    font-size: 1.25rem;
}